/* 
-----------------------------------------------
**  GLOBAL UTILITY CLASSES -- ADD TO MARKUP
**  These are meant to do one thing to avoid adding unnecessary BEM classes
----------------------------------------------- 
*/


// affix to parent element to center content in X and Y axis
.u-centered {
  display: grid;
  place-items: center;
  text-align: center;
}


// Text alignment
.u-align-left {
  text-align: left;
}

.u-align-center {
  text-align: center;
}

.u-align-right {
  text-align: right;
}