/* 
-----------------------------------------------
**  GLOBAL UTILITY CLASSES -- ADD TO MARKUP
**  These are meant to do one thing to avoid adding unnecessary BEM classes
----------------------------------------------- 
*/

/* Generic content wrapper to use inside blocks */
.u-wrapper {
	width: 90vw;
	width: clamp(20rem, 90vw, 160rem);
	padding: 1vw;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


/* Use this to horizontally nest various width elements with gap when wrapping.
   Change once gap support is better. */
.u-cluster {
  --cluster-gap: var(--flow-2);
  overflow: hidden;
}

.u-cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--cluster-gap) / 2 * -1);
}

.u-cluster > * > * {
  margin: calc(var(--cluster-gap) / 2);
}