/* 
-----------------------------------------------
**	MODULAR SCALE FOR TYPOGRAPHY AND SPACING
**	Reference https://font-scale.com/
----------------------------------------------- 
*/

:root {
	/*------------- define ratio options -------------*/
	--minor-second: 1.067;
	--major-second: 1.125;
	--minor-third: 1.2;
	--major-third: 1.25;
	--perfect-fourth: 1.333;
	--augmented-fourth: 1.414;
	--perfect-fifth: 1.5;
	--golden-ratio: 1.618;

	/*------------- define scale -------------*/
	--scale-ratio: var(--perfect-fourth); // base scale ratio
	--scale-base: 1.6rem; // default font sizex

	--size-000: calc(var(--size-050) / var(--scale-ratio));
	--size-050: calc(var(--size-100) / var(--scale-ratio));
	--size-100: calc(var(--size-200) / var(--scale-ratio));
	--size-200: calc(var(--size-300) / var(--scale-ratio));
	--size-300: calc(var(--size-400) / var(--scale-ratio));
	--size-400: calc(var(--size-base) + 0.2vw);
	--size-500: calc(var(--size-400) * var(--scale-ratio));
	--size-600: calc(var(--size-500) * var(--scale-ratio));
	--size-700: calc(var(--size-600) * var(--scale-ratio));
	--size-800: calc(var(--size-700) * var(--scale-ratio));
	--size-900: calc(var(--size-800) * var(--scale-ratio));
}
