/* 
-----------------------------------------------
**	A RESPONSIVE EM UNIT SCALE BASED ON CONFIG SETTINGS IN SCALE.SCSS
**	To use wherever EM units are preferred -- corner radius, vertical margins, etc.
----------------------------------------------- 
*/

:root {
	--flow-base: 1em; // default font size
	--flow-scale: var(--scale-ratio);

	--flow-000: calc(var(--flow-050) / var(--flow-scale));
	--flow-050: calc(var(--flow-100) / var(--flow-scale));
	--flow-100: calc(var(--flow-200) / var(--flow-scale));
	--flow-200: calc(var(--flow-300) / var(--flow-scale));
	--flow-300: calc(var(--flow-400) / var(--flow-scale));
	--flow-400: var(--flow-base);
	--flow-500: calc(var(--flow-400) * var(--flow-scale));
	--flow-600: calc(var(--flow-500) * var(--flow-scale));
	--flow-700: calc(var(--flow-600) * var(--flow-scale));
	--flow-800: calc(var(--flow-700) * var(--flow-scale));
	--flow-900: calc(var(--flow-800) * var(--flow-scale));
}
