/* switcher class to auto-wrap columns without growing items beyond their siblings */
.o-switcher {
	display: flex;
	flex-wrap: wrap;
}

.o-switcher > * {
	flex-grow: 1;
	flex-basis: calc((50rem - 100%) * 999);
}