/* Generic content wrapper to use inside blocks */
.o-wrapper {
	--wrapper-max-width: 120rem;

	max-width: var(--wrapper-max-width);
	padding: 1vw;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.o-wrapper--narrow {
	--wrapper-max-width: var(--paragraph-measure);
}

.o-wrapper--wide {
	--wrapper-max-width: 90vw;
}