button,
.btn {
	display: inline-block;
	cursor: pointer;
	border-radius: .5em;
	border: none;
	padding: .5em 1em;
	transition: all 100ms ease-in;
}

.btn-sm {
	--btnFontSize: var(--fontScale00);
}

.btn-lg {
	--btnFontSize: var(--fontScale1);
}

.btn-primary {
	background: var(--primary);
}

.btn-secondary {
	background: var(--secondary);
}

.btn-accent {
	background: var(--accent);
}

.btn-alert {
	background: var(--alert);
}

.btn-action {
	background: var(--action);
}

.btn-white {
	background: var(--white);
}