button,
.btn {
	display: inline-block;
	border-radius: var(--flow-2);
	border: none;
	padding: calc(var(--flow1) / 2) var(--flow1);
	transition: all 100ms ease-in;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	transition: all 200ms ease-in-out, transform 100ms ease;
	outline: none;
	will-change: transform;

	&:focus {
		box-shadow: inset 0px 0px 0px 4px var(--primary-dark);
	}

	&:hover {
		transform: translateY(-.1em);
		background: var(--primary);
		color: var(--white);
	}

	&:active {
		transform: scale(0.95);
	}
}

.btn-sm {
	font-size: var(--scale-1);
}

.btn-lg {
	font-size: var(--scale1);
}

.btn-primary {
	background: var(--primary);
}

.btn-secondary {
	background: var(--secondary);
}

.btn-accent {
	background: var(--accent);
}

.btn-alert {
	background: var(--alert);
}

.btn-action {
	background: var(--action);
}

.btn-white {
	background: var(--white);
}