/* -----------------------------------------------
	BRANDING COLORS AND UNIVERSAL VISUAL STYLES
----------------------------------------------- */

:root {
	/*------------- base color system -------------*/
	--primary: steelblue;
	--primary-light: lightsteelblue ;
	--primary-dark: darkslateblue;
	--secondary: blanchedalmond;
	--tertiary: cadetblue;
	--accent: darkkhaki;
	--warning: palevioletred;
	--error: crimson;
	--alert: yellowgreen;
	--action: chocolate;
	--neutral: gray;
	--neutral-light: gainsboro;
	--neutral-dark: dimgrey;
	--black: black;
	--white: white;

	/*------------- universal box shadows -------------*/
	--shadowColorLight: var(--white);
	--shadowColorDark: rgba(0,0,0,0.3);

	--shadowSmallY: 0px 2px 8px var(--shadowColorDark);
	--shadowMedY: 0px 6px 12px var(--shadowColorDark);
	--shadowBigY: 0px 12px 24px var(--shadowColorDark);
	--shadowSmallXY: 2px 2px 8px var(--shadowColorDark);
	--shadowMedXY: 6px 6px 12px var(--shadowColorDark);
	--shadowBigXY: 6px 12px 24px var(--shadowColorDark);
	--shadowNeumorphism: -20px -20px 60px var(--shadowColorLight),
												20px 20px 60px var(--shadowColorDark);

}