	/*------------- DEFINE BASE COLOR SYSTEM -------------*/
:root {
	--primary: steelblue;
	--primary-light: lightsteelblue ;
	--primary-dark: darkslateblue;
	--secondary: blanchedalmond;
	--tertiary: cadetblue;
	--accent: darkkhaki;
	--warning: palevioletred;
	--error: crimson;
	--alert: yellowgreen;
	--action: chocolate;
	--neutral: gray;
	--neutral-light: gainsboro;
	--neutral-dark: dimgrey;
	--black: black;
	--white: white;
}