input:not([type=radio]),
select,
textarea,
.toggle label {
	padding: .5em 1em;
	border: 1px solid;
	outline: none;
}

.toggle {
	cursor: pointer;
	display: block;
	line-height: 1;
	
	& input{
		position: absolute;
		opacity: 0;
	}
	
	& label {
		text-align: center;
	}
	
	& input:checked + label {
		background: var(--primary);
		color: var(--white);
		box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
	}
}