:root {
	/*------------- GLOBAL FORM STYLING -------------*/
	--inputPadding: .65em;
	--inputRadius: 0;
	--inputBorder: 1px solid;
}


input,
select {
	padding: calc(var(--inputPadding) / 2);
	border-radius: var(--inputRadius);
	border: var(--inputBorder);
	line-height: 1;
}