:root {
	/*------------- GLOBAL FORM STYLING -------------*/
	--inputPadding: .65em;
	--inputRadius: .65em;
	--inputMargin: .6em;
	--inputBorder: 1px solid var(--neutral);
	--inputColor: var(--neutral-dark);
}


input,
select,
textarea {
	padding: calc(var(--inputPadding) / 2);
	border-radius: var(--inputRadius);
	border: var(--inputBorder);
	box-shadow: var(--shadowSmallY);
	color: var(--inputColor);
	margin-bottom: var(--inputMargin);
}

