:root {
	/*------------- DEFINE CONTENT WIDTHS -------------*/
	--contentWidthMin: 25rem;
	--contentWidth: 90vw;
	--contentWidthMax: 160rem;
}


html {
	font-size: 62.5%; //set base to 10px for easier REM sizing
	word-break: break-word;
	hyphens: auto;
}

body {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

section {
	width: 100%;
}

.container {
	width: var(--contentWidth);
	max-width: var(--contentWidthMax);
	margin: 0 auto;
}

