/* -----------------------------------------------
	GLOBAL ELEMENTS
----------------------------------------------- */

html {
	font-size: 62.5%; //set base to 10px for easier REM sizing
	word-break: break-word;
	hyphens: auto;
}

body {
	display: flex;
	flex-direction: column;
}

section {
	width: 100%;
}

.b-wrapper {
	width: 90vw;
	width: clamp(20rem, 90vw, 160rem);
	padding: 1vw;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}