/* 
-----------------------------------------------
**	GLOBAL ELEMENTS
----------------------------------------------- 
*/

html {
	font-size: 62.5%; //set base to 10px for easier REM sizing
	word-break: break-word;
	hyphens: auto;
}

body {
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

::selection {
	background: var(--primary);
	color: var(--white);
}

// :disabled {
// }
//
// :focus {
// }

// ::-webkit-scrollbar {
// }
//
// ::-webkit-scrollbar-button {
// }
//
// ::-webkit-scrollbar-track {
// }
