/* -----------------------------------------------
	MODULAR SCALE FOR TYPOGRAPHY AND ELEMENT SPACING
	Reference https://font-scale.com/
----------------------------------------------- */

:root {
	/*------------- define ratio options -------------*/
	--minorSecond: 1.067;
	--majorSecond: 1.125;
	--minorThird: 1.2;
	--majorThird: 1.25;
	--perfectFourth: 1.333;
	--augmentedFourth: 1.414;
	--perfectFifth: 1.5;
	--goldenRatio: 1.618;

	/*------------- define scale -------------*/
	--scaleRatio: var(--perfectFourth); // base scale ratio
	--scaleBase: 1.6rem; // default font size

	--scale-5: calc(var(--scale-4) / var(--scaleRatio));
	--scale-4: calc(var(--scale-3) / var(--scaleRatio));
	--scale-3: calc(var(--scale-2) / var(--scaleRatio));
	--scale-2: calc(var(--scale-1) / var(--scaleRatio));
	--scale-1: calc(var(--scale0) / var(--scaleRatio));
	--scale0: var(--scaleBase);
	--scale1: calc(var(--scale0) * var(--scaleRatio));
	--scale2: calc(var(--scale1) * var(--scaleRatio));
	--scale3: calc(var(--scale2) * var(--scaleRatio));
	--scale4: calc(var(--scale3) * var(--scaleRatio));
	--scale5: calc(var(--scale4) * var(--scaleRatio));
}