:root {
	/*------------- DEFINE FONT FAMILIES -------------*/
	--fontHeading: sans-serif;
	--fontPrimary: sans-serif;

	/*------------- SET UNIVERSAL BOTTOM MARGIN FOR TYPE ELEMENTS -------------*/
	--typeMarginB: .65em;


	/*------------- SET MAX CHARACTER WIDTHS FOR HEADING AND PARAGRAPHS -------------*/
	--headingWidth: 30ch;
	--paragraphWidth: 120ch;
}




body {
	font-family: var(--fontPrimary);
	font-size: var(--scale0);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: calc(2px + 2ex + 2px);
	max-width: var(--headingWidth);
	font-family: var(--fontHeading);
}

h1,
h2,
h3,
h4,
h5,
p {
	margin-bottom: var(--typeMarginB);
}

h1 {
font-size: var(--scale5);
}

h2 {
	font-size: var(--scale4);
}

h3 {
	font-size: var(--scale3);
}

h4 {
	font-size: var(--scale2);
}

h5 {
	font-size: var(--scale1);
}

p {
	max-width: var(--paragraphWidth);
}
