/* -----------------------------------------------
		TYPOGRAPHY RULES
		Reference modular-scale.scss for variable sizing
----------------------------------------------- */


/*------------- global font variables -------------*/
:root {
	// default font families
	--fontHeading: sans-serif;
	--fontPrimary: sans-serif;
	
	// set max character widths for readability
	--headingMeasure: 30ch;
	--paragraphMeasure: 120ch;
}



body {
	font-family: var(--fontPrimary);
	font-size: var(--scale0);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: calc(2px + 2ex + 2px);
	max-width: var(--headingMeasure);
	font-family: var(--fontHeading);
}

h1,
h2,
h3,
h4,
h5,
p {
	margin-bottom: .65em;
}

h1 {
font-size: var(--scale5);
}

h2 {
	font-size: var(--scale4);
}

h3 {
	font-size: var(--scale3);
}

h4 {
	font-size: var(--scale2);
}

h5 {
	font-size: var(--scale1);
}

p {
	max-width: var(--paragraphWidth);
}
