/* -----------------------------------------------
		GLOBAL UTILITY CLASSES -- ADD TO MARKUP
----------------------------------------------- */


/*------------- aspect ratio hack -------------*/
// https://piccalil.li/tutorial/creating-an-aspect-ratio-css-utility

[class*='aspect-'] {
  display: block;
  position: relative;
}

[class*='aspect-'] > * {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.u-aspect-wide {
  padding-top: 56.25%; //16:9 aspect ratio
}

.u-aspect-square {
  padding-top: 100%; //1:1 aspect ratio
}


// flow utility to add margins between sibling elements. Add class to parent markup to activate.
.u-flow {
  --flow-space: var(--space0);
}  

.u-flow > * + * { 
  margin-top: var(--flow-space);
}

// affix to parent element to center content in X and Y axis
.u-centered {
  display: grid;
  place-items: center;
  text-align: center;
}

// Text alignment
.u-align-left {
  text-align: left;
}

.u-align-center {
  text-align: center;
}

.u-align-right {
  text-align: right;
}