/* 
-----------------------------------------------
**  GLOBAL UTILITY CLASSES -- ADD TO MARKUP
**  These are meant to do one thing to avoid adding unnecessary BEM classes
----------------------------------------------- 
*/

// flow utility to add margins between sibling elements without requiring :first-child.
.u-flow {
	--flow-space: var(--flow-400);
}

.u-flow > * + * {
	margin-block-start: var(--flow-space);
}

/* utility classes to add to markup on a per item basis to escape the default amount */
.u-flow-none {
	--flow-space: 0;
}

.u-flow--50 {
	--flow-space: var(--flow-50);
}

.u-flow--100 {
	--flow-space: var(--flow-100);
}

.u-flow--200 {
	--flow-space: var(--flow-200);
}

.u-flow--300 {
	--flow-space: var(--flow-200);
}

.u-flow--400 {
	--flow-space: var(--flow-400);
}

.u-flow--500 {
	--flow-space: var(--flow-500);
}

.u-flow--600 {
	--flow-space: var(--flow-600);
}

.u-flow--700 {
	--flow-space: var(--flow-700);
}

.u-flow--800 {
	--flow-space: var(--flow-800);
}

.u-flow--900 {
	--flow-space: var(--flow-900);
}
