/* 
-----------------------------------------------
**  GLOBAL UTILITY CLASSES -- ADD TO MARKUP
**  These are meant to do one thing to avoid adding unnecessary BEM classes
----------------------------------------------- 
*/

// flow utility to add margins between sibling elements without requiring :first-child.
.u-flow {
	--flow-space: var(--flow0);
}

.u-flow > * + * {
	margin-top: var(--flow-space);
}

/* utility classes to add to markup on a per item basis to escape the default amount */
.u-flow-none {
	--flow-space: 0;
}

.u-flow-space-5 {
	--flow-space: var(--flow-5);
}

.u-flow-space-4 {
	--flow-space: var(--flow-4);
}

.u-flow-space-3 {
	--flow-space: var(--flow-3);
}

.u-flow-space-2 {
	--flow-space: var(--flow-2);
}

.u-flow-space-1 {
	--flow-space: var(--flow-1);
}

.u-flow-space0 {
	--flow-space: var(--flow0);
}

.u-flow-space1 {
	--flow-space: var(--flow1);
}

.u-flow-space2 {
	--flow-space: var(--flow2);
}

.u-flow-space3 {
	--flow-space: var(--flow3);
}

.u-flow-space4 {
	--flow-space: var(--flow4);
}

.u-flow-space5 {
	--flow-space: var(--flow5);
}
