/* 
-----------------------------------------------
**  GLOBAL UTILITY CLASSES -- ADD TO MARKUP
**  These are meant to do one thing to avoid adding unnecessary BEM classes
----------------------------------------------- 
*/

// flow utility to add margins between sibling elements without requiring :first-child.
.u-flow {
	--flow-space: var(--flow-400);
}

.u-flow > * + * {
	margin-top: var(--flow-space);
}

/* utility classes to add to markup on a per item basis to escape the default amount */
.u-flow-none {
	--flow-space: 0;
}

.u-flow-space-000 {
	--flow-space: var(--flow-000);
}

.u-flow-space-050 {
	--flow-space: var(--flow-050);
}

.u-flow-space-100 {
	--flow-space: var(--flow-100);
}

.u-flow-space-200 {
	--flow-space: var(--flow-200);
}

.u-flow-space-300 {
	--flow-space: var(--flow-200);
}

.u-flow-space-400 {
	--flow-space: var(--flow-400);
}

.u-flow-space-500 {
	--flow-space: var(--flow-500);
}

.u-flow-space-600 {
	--flow-space: var(--flow-600);
}

.u-flow-space-700 {
	--flow-space: var(--flow-700);
}

.u-flow-space-800 {
	--flow-space: var(--flow-800);
}

.u-flow-space-900 {
	--flow-space: var(--flow-900);
}
