/* 
-----------------------------------------------
**  GLOBAL UTILITY CLASSES -- ADD TO MARKUP
**  These are meant to do one thing to avoid adding unnecessary BEM classes
----------------------------------------------- 
*/

.u-gap-5 {
	margin: var(--flow-5);
}
.u-gap-4 {
	margin: var(--flow-5);
}
.u-gap-3 {
	margin: var(--flow-5);
}
.u-gap-2 {
	margin: var(--flow-5);
}
.u-gap-1 {
	margin: var(--flow-5);
}
.u-gap0 {
	margin: var(--flow-5);
}
.u-gap1 {
	margin: var(--flow-5);
}
.u-gap2 {
	margin: var(--flow-5);
}
.u-gap3 {
	margin: var(--flow-5);
}
.u-gap4 {
	margin: var(--flow-5);
}
.u-gap5 {
	margin: var(--flow-5);
}